<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TMT.Enforcement.iAutoLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />     
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CoreContext" connectionString="" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <add key="DLLPath" value="" />
    <add key="CameraFilePath" value="C:\enc Zambia" />
    <add key="SavedStatsFilePath" value="C:\Zambia\TMT\Infringement Stats" />
    <add key="ErrorLogFilePath" value="C:\Zambia\TMT\Infringement Logs" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LogTestIndicator" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TMT.Enforcement.iAutoLog.Properties.Settings>
      <setting name="SmtpHost" serializeAs="String">
        <value>192.168.0.254</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>26</value>
      </setting>
      <setting name="SmtpUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="MailEnableSsl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SmtpUseDefaultCredentials" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SmtpMailFrom" serializeAs="String">
        <value>iautolog@tmtservices.co.za</value>
      </setting>
      <setting name="LogFileFolder" serializeAs="String">
        <value>C:\TMT\Infringement Logs</value>
      </setting>
      <setting name="MailDistributionList" serializeAs="String">
        <value>rtrollip@tmtservices.co.za</value>
      </setting>
    </TMT.Enforcement.iAutoLog.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>