<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AdaptorTypeName" value="Kapsch.Camera.Adapters.Impl.iCamClientAdapter" />   
    <add key="iCamDestinationFolder" value="C:\Temp\watchLocation\Enc\EncListener" />
    <add key="CheckIntervalInSeconds" value="10" />
    <add key="CoreGatewayEndpoint" value="http://192.168.0.33:60001/" />
    <add key="ITSGatewayEndpoint" value="http://192.168.0.33:60002/" />
    <add key="CredentialUsername" value="Super User" />
    <add key="CredentialPassword" value="Q!w2e3r4t5" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>