<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TMT.iCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <!--<section name="TMT.iVerify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>-->
      <section name="TMT.iAdjudicate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- TODO: Remove once API has been fully integrated-->
    <add name="TMT.iCapture.Properties.Settings.ConnectionString" connectionString="Data Source=192.168.0.175:1521/ZambiaTest;User ID=ITS;Password=ZamTest;PASSWORD=Afr1kaZam"/>
    <!--<add name="iLog" connectionString="Data Source=CENTRAL_STAGING;User Id=GISMO;Password=GISMO" providerName="System.Data.OracleClient"/>-->
    <!--<add name="TMT.iVerify.Properties.Settings.ConnectionString" connectionString="Data Source=192.168.0.175:1521/ZambiaTest;User ID=ITS;Password=ZamTest;PASSWORD=Afr1kaZam"/>-->
    <add name="TMT.iAdjudicate.Properties.Settings.ConnectionString" connectionString="Data Source=192.168.0.175:1521/ZambiaTest;User ID=ITS;Password=ZamTest;PASSWORD=Afr1kaZam"/>
    <add name="CoreContext" connectionString="Data Source=192.168.0.175:1521/ZambiaTest;User ID=ITS;Password=ZamTest;PASSWORD=Afr1kaZam"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    
    <add key="CoreGatewayEndpoint" value="http://192.168.0.33:60001/"/>
    <add key="ITSGatewayEndpoint" value="http://192.168.0.33:60002/" />
    <add key="ITSPortalEndpoint" value="http://192.168.0.33:60003/" />
 
    
    <!--<add key="CoreGatewayEndpoint" value="http://localhost:50556/" />
    <add key="ITSGatewayEndpoint" value="http://localhost:51985/" />-->
    
    <add key="CultureUI" value="en-ZA"/>
    <add key="DateSeparator" value="/"/>
    <add key="LongDatePattern" value="dd/MM/yyyy"/>
    <add key="ShortDatePattern" value="dd/MM/yyyy"/>
    <add key="LongTimePattern" value="hh:mm:ss tt"/>
    <add key="ShortTimePattern" value="hh:mm tt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <TMT.iCapture.Properties.Settings>
      <setting name="NumberplateWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="NumberplateHeight" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="NumberplateForce" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FieldSheetActive" serializeAs="String">
        <value>False</value>
      </setting>
    </TMT.iCapture.Properties.Settings>
    <!--<TMT.iVerify.Properties.Settings>
      <setting name="NumberplateWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="NumberplateHeight" serializeAs="String">
        <value>60</value>
      </setting>
    </TMT.iVerify.Properties.Settings>-->
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
