<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
   
    <add key="RTEGatewayEndpoint" value="http://localhost:55977"/>

    <!--Path where the actual infringment files can be found. If empty it will not create any physical .dot files.-->
    <add key="PhysicalInfringementPath" value=""/>

    <!--Source Path for to look for Point A when Listener Type = D-->
    <add key="PathPointA" value=""/>

    <!--Source Path for to look for Point B when Listener Type = D-->
    <add key="PathPointB" value=""/>
    
    <!--Filter to find actual files as defined in the Paths for Point A and Point B when Listener Type = D [*.enc]-->
    <add key="PathFilter" value=""/>

    <!--Number of Times to retry to connect to listener before stopping the service.-->
    <add key="ListenerCounterTimeout" value="10"/>

    <add key="HeartbeatSeconds" value="120"/>

  </appSettings>

    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

</configuration>
