@{
    var buildNumber = System.Configuration.ConfigurationManager.AppSettings["BuildNumber"];
}
<div class="footer">
    <div class="pull-right">
        <strong>Copyright</strong> Intelligent Mobility Solutions &copy; 2017 <strong>Build Number</strong> @buildNumber
    </div>
    <div>
        <small><i>Powered by the</i></small> <strong><img src="~/Images/kapsch_logo.png" /> Group</strong>
    </div>
</div>
