<div class="form-group">
    <h5>To Date</h5>
    <div id="toDate" class="input-group date">
        <input type="text" id="toDate_" class="form-control" placeholder="Choose Date">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
</div>

<script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">   
    $('#toDate').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yyyy"
    });
</script>
