@{
    var users = ViewBag.Users as IList<Kapsch.Core.Gateway.Models.User.UserModel>;
}

<div class="form-group">
    <h5>Infringement Value</h5>
    @Html.TextBox("infringementValue", "0", new { @class = "form-control input-sm", type="number" })
    <div class="hr-line-dashed"></div>
</div>
