<div class="form-group">
    <h5>Test Category</h5>
    <select id="testCategoryID" class="form-control input-sm">
        <option value="">ANY Category</option>
        <option value="1">New Vehicle</option>
        <option value="3">Roadworthiness</option>
    </select>
    <div class="hr-line-dashed"></div>
</div>