<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CoreContext" connectionString="Data Source=Zambia_Dev;User Id=its;Password=Afr1kaZam" providerName="System.Data.OracleClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="DLLPath" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>

<!--Data Source=GISMO;User Id=GISMO;Password=GISMO-->
<!--AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAuR2jwwG7OUCOueQQjSkcwQAAAAACAAAAAAAQZgAAAAEAACAAAAD1UiALS1soQM/Q51dKGBCfJj3hxo1wes2hg/eNLqh3SwAAAAAOgAAAAAIAACAAAACpsrwXia1lQuBi/ZWHnVCeWuDhgTc0FAl+Q+C4ZmPwJ2AAAACVdJCJm6NVvbhnoVFPC9GRaf8y4GuQ7IOsUPmRe8OsVlWS6+2rquRYe7mxs1/OB+z80+Y5hSE2TwNIch17WUZaIrD5M9HZmN2bBiqUW+Q6cOmh4+4DdPu3L34TeDyYrU5AAAAARcbGHMc7HdlOxq9r8mvndFCJPSjj2mGAIPMASeAeIlWBmJylrvBtm5tKE85a0ZzL2qt3hF99DOzCrSOKTDD0FA==-->