<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CoreContext" connectionString="Data Source=Zambia_Test;User Id=its;Password=Afr1kaZam" providerName="System.Data.OracleClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="DLLPath" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>

<!--Data Source=STAGING;User Id=GISMO;Password=GISMO-->
<!--AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAuR2jwwG7OUCOueQQjSkcwQAAAAACAAAAAAAQZgAAAAEAACAAAABJ7PsqvFKEVX1HqZuo9Jud+u1qTbtwUucDF2mjIvO6FwAAAAAOgAAAAAIAACAAAACubzsl7lx9tPUZvGC5bMUXhWvkj/taNvsKevTe30c+ZXAAAACYfVHVXgZrhh7wunBGten6V23K9/VfkIVHPjon9TLn75r94Uo+vryx2NHsIhan86idxM0Wh1uiOafdOhjKCnKDcoeTbXfsqwE7ZSBtnqj5TUa8fJMrQKy/nMabRK47bZ4vNlMbjjSK8/u7UuN2mVwVQAAAAGO251hm1vojW7iDN09Xe1JghM6jLNlXmIBG1HlTapyvTG6QS/b0h3p31yMwno6865svMbcjZezUr0Z/I3EciI8=-->