<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TMT.Enforcement.iLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CoreContext" connectionString="" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DLLPath" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="CameraFilePath" value="C:\ENC"/>
    <add key="ErrorLogFilePath" value="C:\ENC Logs"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="LogTestIndicator" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <TMT.Enforcement.iLog.Properties.Settings>
      <setting name="WhiteHeaderText" serializeAs="String">
        <value>ControlLightLight</value>
      </setting>
      <setting name="iLogHeader" serializeAs="String">
        <value>iLOG INFRINGEMENT VIEWER</value>
      </setting>
    </TMT.Enforcement.iLog.Properties.Settings>
  </userSettings>
</configuration>
