<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="TMT.iCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TMT.iCapture.Properties.Settings.ConnectionString" connectionString="Data Source=192.168.0.175:1521/ZambiaTest;User ID=ITS;Password=ZamTest;PASSWORD=Afr1kaZam"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <appSettings>
    <add key="DllPath" value="C:\Program Files (x86)\TMT\Core.Camera"/>
  </appSettings>
  <userSettings>
    <TMT.iCapture.Properties.Settings>
      <setting name="NumberplateWidth" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="NumberplateHeight" serializeAs="String">
          <value>60</value>
      </setting>
      <setting name="NumberplateForce" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="FieldSheetActive" serializeAs="String">
          <value>False</value>
      </setting>
    </TMT.iCapture.Properties.Settings>
  </userSettings>
</configuration>
